<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" href="/3.png" type="image/x-icon">

    <!-- ðŸŒ Open Graph Meta Tags for Social Preview -->
  <meta property="og:title" content="Eventify- An event Organiser Platform" />
  <meta property="og:description" content="Organise & join events you want & manage your events easily!!." />
  <meta property="og:image" content="https://event-organiser-8mq9.onrender.com/3.png" />
  <meta property="og:url" content="https://event-organiser-8mq9.onrender.com" />
  <meta property="og:type" content="website" />

  <!-- ðŸ¦ Twitter Card Preview -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Eventify- An event Organiser Platform" />
  <meta name="twitter:description" content="Organise & join events you want & manage your events easily!!." />
  <meta name="twitter:image" content="https://event-organiser-8mq9.onrender.com/3.png" />

</head>
<!-- SweetAlert2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
    
